* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 1em 0;
    position: sticky;
    top: 0px;
}

header nav ul li {
    display: inline;
    font-size: 1em;
    border:solid grey 0.2em;
    border-radius: 0.4em;
    margin-left: 0.3em;
    padding: 0.2em;
}

header nav ul li a { 
    text-decoration: none;
    color: white;
}

.container {
    min-height: 1080px;
    background-color: blue;
    position: relative;
    z-index: 1;
    text-align: center;
}

.use {
    margin: 15px;
}

.use1 {
    list-style: square inside;
}

.use2 {
    list-style: decimal inside;
}

.use3 {
    list-style: circle inside;
}