* {
    margin: 0;
    padding: 0;
}

.black_Navbar {
    background-color: black;
    padding: 10PX;
    padding-left: 3px;
    margin-bottom: 10px;
    border: 5px solid grey;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}

.black_Navbar ul li {
    margin: 2px;
    display: inline-block;
    border: 5px solid grey;
    border-radius: 50px;
    padding: 5px;
}

.black_Navbar ul li a {
    color: wheat;
    text-decoration: none;
}

.main_Body {
border: 5px solid grey;
box-sizing: border-box;
border-radius: 10px;
font-size: 19px;
}

.red {
    background-color: red;
    display: inline-block;
    width: 50%;
    height: 90vh;
    padding: 25px;
    box-sizing: border-box;
    visibility: hidden;
}

.green {
    background-color: green;
    display: inline-block;
    width: 50%;
    height: 90vh;
    padding: 25px;
    box-sizing: border-box;
}

footer {
    background-color: black;
    margin: 10px;
    border-radius: 5px;
}

footer p {
    font-family: 'Ballu Bhai 2', cursive;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid grey;
    border-radius: 50px;
    text-transform: uppercase;
}