alabaster==0.7.12
android==1.0
anyio==3.6.1
asgiref==3.5.2
astroid==2.8.2
audiostream==0.2
Babel==2.10.3
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cmake @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/cmake-3.20.3-py3-none-any.whl
distlib==0.3.5
distro==1.6.0
Django==4.1
django-crispy-forms==1.14.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
docutils==0.19
fastapi==0.80.0
filelock==3.8.0
Flask==2.2.2
gnu==0.0.1
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
Kivy==2.0.0
lazy-object-proxy==1.6.0
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.23.2
packaging==21.0
parso==0.8.2
Pillow==9.2.0
pkgconfig==1.5.5
platformdirs==2.4.0
pybind11==2.8.0
pycparser==2.21
pydantic==1.9.2
pyenchant==3.2.2
pygame==2.0.1
Pygments==2.13.0
pyjnius==1.3.0
PyJWT==1.7.1
pylint==2.11.1
pyparsing==2.4.7
PySDL2==0.9.7
pytz==2022.2.1
requests==2.28.1
scikit-build==0.12.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
starlette==0.19.1
style==1.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2022.2
update==0.0.1
urllib3==1.26.12
virtualenv==20.16.3
virtualenvwrapper-win==1.2.7
Werkzeug==2.2.2
wrapt==1.13.1
zipp==3.8.1
